/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo container */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 130px; /* Adjust size for your logo */
    height: 50px; /* Adjust size for your logo */
    margin-right: 10px;
  }
  
  .logo-text h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #000;
  }
  
  .logo-text span.highlight {
    color: #007bff; /* Blue color for 'A' */
  }
  
  .logo-text p {
    font-size: 12px;
    margin: 0;
    color: #555;
  }
  
  /* Navigation links */
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    cursor: pointer;
  }
  
  .nav-links li:hover {
    color: #007bff; /* Highlight on hover */
    transition: color 0.3s ease;
  }
  